* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.frm {
    width: 100%;
    position: relative;
}

.main {
    width: 1299px;
    margin: 0 auto;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.container__sideBar {
    width: 313px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container__sideBar-box {
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-radius: 3px;
}

.container__sideBar-box-tittle {
    width: 85%;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
}

.box1 {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 10px;
}

.container__sideBar-box-cate {

    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-bottom: 10px;

}

.container__sideBar-box-cate>input {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-right: 5px;
}

.container__list {

    width: calc(100% - 20px);
    margin-left: 20px;
}

.container__list-tittle {
    width: 100%;
    height: 158px;
    background-color: #F0F0F0;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container__list-products {
    width: 100%;

    /* display: grid;
    grid-row: auto; */
    margin-top: 20px;
    background-color: #ffffff;
}

.container__list-products-item{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 18px;
    border-radius: 5px;
    border: 3px solid white;
    transition: 0.3s ease-in-out;
    float: left;
}
.container__list-products-item:hover {
    border: 3px solid black;
}

.container__list-products-item:hover .container__list-products-item-info {
    opacity: 1;
    color: black;
}
.container__list-products-item-info p{
    color: black;
    /* height: 20px; */
}
.container__list-products-item-img {
    width: 100%;
    height: 400px;
    background-position: 50% 80%;
    background-size: 100%;
    background-color: rgb(241, 241, 241);
    transition: 0.5s ease-in-out;
}

.container__list-products-item-img:hover {
    background-size: 120%;
}

.container__list-products-item-info {
    width: 100%;
    height: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.5s ease-in-out;
    opacity: 0;
    z-index: 1;
}
.main1 {
    width: 1035px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
}




.main__alsoLike {
    margin-top: 65px;
    margin-bottom: 65px;
    width: 100%;
    height: 550px;
}

.main__alsoLike>p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 65px;
}

.main__alsoLike-product {
    width: 100%;
    height: 447px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__alsoLike-product-card-info>div {
    text-align: center;
    font-size: 20px;
}

.subscribeUs {
    width: 100%;
    height: 462px;
    background-color: #FFF4F4;
    text-align: center;
    display: inline-block;
}

.subscribeUs__text {
    width: 734px;
    height: 200px;
    margin: 0 auto;
    margin-top: 150px;
}

.subscribeUs__text-firstText {
    font-size: 40px;
    color: #151875;
    font-weight: bold;
}

.subscribeUs__text-secondText {
    font-size: 18px;
    margin: 10px;
}

.subscribeUs__text>input {
    width: 280px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.subscribeUs__text>button {
    width: 80px;
    height: 40px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 12px;
}

/* Featured Products */
.container__featured-tittle {
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.container__featured-products {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container__featured-products-items {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
    border: 3px solid white;
    transition: 0.3s ease-in-out;
}

.container__featured-products-items:hover {
    border: 3px solid black;
}

.container__featured-products-items:hover .container__featured-products-items-info {
    opacity: 1;
}

.container__featured-products-items-img {
    width: 100%;
    height: 400px;
    background-position: 50% 80%;
    background-size: 100%;
    background-color: rgb(241, 241, 241);
    transition: 0.5s ease-in-out;
}

.container__featured-products-items-img:hover {
    background-size: 120%;
}

.container__featured-products-items-info {
    width: 100%;
    height: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.5s ease-in-out;
    opacity: 0;
}
